<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>THIS IS SPArta.</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text=${name} >Name</p>
    <p th:text="${skintype}">Grease Level</p>
    <p th:text="${manipedi}">Manli / Pedi</p>
</div>
<div id = "servicesMenu">
    <h3>Face Things</h3>
    <p>Pick one.</p>
    <th:block th:each = "facial : ${appropriateFacials}">
        <p th:text = "${facial}"></p>
    </th:block>
    <div th:if = '${manipedi == "pedicure"}'>
        <h3>Pedicure</h3>
        <p th:replace = "fragments :: pedicureDescription"></p>
    </div>
    <div th:if = '${manipedi == "manicure"}'>
        <h3>Manicure</h3>
        <p th:replace = "fragments :: manicureDescription"></p>
    </div>
</div>
</body>
</html>